In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")

In [2]:
# Drop the non-beneficial ID columns, 'EIN'.
application_df= application_df.drop(columns=['EIN'], axis=1)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
value_counts_name= application_df['NAME'].value_counts()
print(len(value_counts_name))
print(len(value_counts_name[value_counts_name>1]))

19568
792

In [4]:
# Choose a cutoff value and create a list of NAme types to be replaced
# use the variable name `NAME_to_replace`

num_values_to_combine= (19568-793)
application_types_to_replace = value_counts_name.nsmallest(num_values_to_combine).index


# Replace in dataframe
for app in application_types_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                 18775
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
                                                                      ...
WASHINGTON EXPLORER SEARCH AND RESCUE                                     2
INTERNATIONAL ALLIANCE THEATRICAL STAGE EMPLOYEES & MOVING PICTURE        2
BIRTH NETWORK                                                             2
NATIONAL SOCIETY COLONIAL DAMES XVII CENTURY                              2
WATERHOUSE CHARITABLE TR                                                  1
Name: NAME, Length: 794, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
value_counts=application_df['APPLICATION_TYPE'].value_counts()

num_values_to_combine= 10
application_types_to_replace = value_counts.nsmallest(num_values_to_combine).index


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [6]:
classification_value_counts= application_df['CLASSIFICATION'].value_counts()

# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
num_values_to_combine= 63
classifications_to_replace = classification_value_counts.nsmallest(num_values_to_combine).index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1003
C7000      777
C1700      287
C4000      194
Name: CLASSIFICATION, dtype: int64

In [7]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df1= pd.get_dummies(application_df, columns = ['NAME','APPLICATION_TYPE','AFFILIATION','CLASSIFICATION','USE_CASE','ORGANIZATION','INCOME_AMT','SPECIAL_CONSIDERATIONS'])
application_df1.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_4-H CLUBS & AFFILIATED 4-H ORGANIZATIONS,NAME_AACE INTERNATIONAL,NAME_ACADEMY OF GENERAL DENTISTRY,NAME_ACADEMY OF MANAGED CARE PHARMACY,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTIVE 20-30 UNITED STATES AND CANADA,NAME_ACTS MINISTRY,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [8]:
# Split our preprocessed data into our features and target arrays
X = application_df1.copy()
X.drop("IS_SUCCESSFUL", axis=1, inplace=True)

y = application_df1["IS_SUCCESSFUL"].values.reshape(-1, 1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [9]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [10]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=1000, activation="LeakyReLU", input_dim= X.shape[1]))
# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=500, activation="sigmoid"))
# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 1000)              840000

 dense_1 (Dense)             (None, 500)               500500

 dense_2 (Dense)             (None, 1)                 501

=================================================================
Total params: 1,341,001
Trainable params: 1,341,001
Non-trainable params: 0
_________________________________________________________________

In [11]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [12]:
 #Train the model
callback= tf.keras.callbacks.ModelCheckpoint(filepath='modelcheckpoint',verbose=0, save_weights_only=True, save_freq=5)
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=12, callbacks=[callback])

Epoch 1/12
804/804 [==============================] - 29s 35ms/step - loss: 0.4598 - accuracy: 0.7829
Epoch 2/12
804/804 [==============================] - 31s 39ms/step - loss: 0.4175 - accuracy: 0.8025
Epoch 3/12
804/804 [==============================] - 28s 35ms/step - loss: 0.4101 - accuracy: 0.8049
Epoch 4/12
804/804 [==============================] - 29s 37ms/step - loss: 0.4073 - accuracy: 0.8049
Epoch 5/12
804/804 [==============================] - 28s 34ms/step - loss: 0.4047 - accuracy: 0.8075
Epoch 6/12
804/804 [==============================] - 30s 37ms/step - loss: 0.4036 - accuracy: 0.8069
Epoch 7/12
804/804 [==============================] - 28s 35ms/step - loss: 0.4022 - accuracy: 0.8078
Epoch 8/12
804/804 [==============================] - 29s 36ms/step - loss: 0.4018 - accuracy: 0.8073
Epoch 9/12
804/804 [==============================] - 27s 34ms/step - loss: 0.4010 - accuracy: 0.8090
Epoch 10/12
804/804 [==============================] - 29s 36ms/step - loss: 0.4014 - accuracy: 0.8088
Epoch 11/12
804/804 [==============================] - 28s 35ms/step - loss: 0.4018 - accuracy: 0.8096
Epoch 12/12
804/804 [==============================] - 31s 38ms/step - loss: 0.3997 - accuracy: 0.8105

In [13]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 2s - loss: 0.4545 - accuracy: 0.7952 - 2s/epoch - 6ms/step
Loss: 0.4545389711856842, Accuracy: 0.7952186465263367

In [14]:
# Export our model to HDF5 file
nn_model.save("/Users/MitchSimms/Desktop/Data_Analytics/mygithub/module_21_challenge/deep_learning_challenge/Starter_Code/AlphabetSoupCharity_Optimization.h5",save_format='h5',overwrite=True)